@using QuizExam.Core.Models.Subject
@model NewSubjectVM

<div class="row">
    <div class="col-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Редакция</h3>
            </div>
            <form id="edit" method="post">
                <div class="card-body">
                    <input type="hidden" name="Id" value="@Model.Id"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter subject name" aria-required="true">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Редактирай</button>
                    <a asp-action="GetSubjectsList" class="btn btn-outline-primary" style="width:auto">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}