<style>

    .center {
        margin: auto;
        width: 60%;
        border: 5px solid #FFFF00;
        padding: 10px;
    }

</style>

<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-footer">
                <div class="row">
                    <a class="btn btn-block btn-outline-dark" style="width: 80px; margin-right: 5px; height: fit-content;">Edit</a>
                    <button type="button" class="btn btn-block btn-danger" style="width: 80px; height: fit-content;">Delete</button>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
            </div>
        </div>
    </div>
</div>