html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

#footer {
    position: absolute;
    right: 0;
    left: 0;
    height: 30px;
    bottom: 0;
}

.card {
    border-color: #a6a6a6 !important;
    border-width: 1px !important;
}

.card-primary:not(.card-outline) > .card-header {
    background-color: #008080;
}

.custom-checkbox .custom-control-input-danger:disabled:checked ~ .custom-control-label::before {
    background-color: #dc3545;
}

.custom-checkbox .custom-control-input-green:disabled:checked ~ .custom-control-label::before {
    background-color: #28a745;
}
