@using QuizExam.Core.Models.AnswerOption
@model AddAnswerOptionVM

@{
    var questionId = TempData["QuestionId"];
    var questionContent = TempData["QuestionContent"];
}

<div class="row d-flex justify-content-center">
    <div class="col-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Добави опция за отговор</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <input type="hidden" name="QuestionId" value="@Url.ActionContext.RouteData.Values["id"]"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="form-label">Въпрос</label>
                        <textarea class="form-control" readonly>@questionContent</textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnswerOption" class="form-label"></label>
                        <textarea asp-for="AnswerOption" type="text" class="form-control" placeholder="Enter question..." aria-required="true"></textarea>
                        <span asp-validation-for="AnswerOption" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Добави</button>
                    <a asp-action="GetAllUsers" class="btn btn-outline-primary" style="width:auto">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>