@using Microsoft.AspNetCore.Identity
@using QuizExam.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var username = user?.FirstName != null && user?.LastName != null ? $"{user?.FirstName} {user?.LastName}" : user.UserName;

    <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="~/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
          @*<img gravatar-email="@User.Identity?.Name" gravatar-size="80" class="img-circle elevation-2" alt="My Gravatar" />*@
        </div>
        <div class="info">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-block">@username</a>
        </div>
      </div>
}
