<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            @if (User.IsInRole("Administrator"))
            {
                <a href="/Admin/Exam/GetExamsList" class="nav-link">
                    <i class="nav-icon fa fa-lock"></i>
                    <p> Администратор </p>
                </a>
            }
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p> Начало </p>
            </a>
        </li>
        <li class="nav-item menu-open">
            <a href="/" class="nav-link">
                <i class="nav-icon fa-solid fa-file-lines"></i>
                <p>
                    Моите изпити
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="TakeExam" asp-action="GetUncompletedExams" class="nav-link">
                        <i class="far fa-circle nav-icon text-info"></i>
                        <p> Незавършени </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="TakeExam" asp-action="GetTakenExams" class="nav-link">
                        <i class="far fa-circle nav-icon text-info"></i>
                        <p> Архив </p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a asp-controller="Statistics" asp-action="GetTopHardestQuestions" class="nav-link">
                <i class="nav-icon fa-solid fa-chart-pie"></i>
                <p> Статистика </p>
            </a>
        </li>
    </ul>
</nav>
