@using Microsoft.AspNetCore.Identity
@using QuizExam.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="user-panel pb-3 d-flex" style="margin-top: 15px;">
    <div class="image dropdown">
        <img src="~/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-block">@user?.FirstName @user?.LastName</a>
    </div>
</div>
