@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърден имейл";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a href="/" class="btn btn-info">Вход в системата</a>
