@using QuizExam.Core.Models
@model UserEditVM
@{
    ViewData["Title"] = "Edit User";
}

<div class="row">
    <div class="col-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Edit User</h3>
            </div>
            <form id="edit" method="post">
                <div class="card-body">
                    <input type="hidden" name="Id" value="@Model.Id"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter first name" aria-required="true">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" type="text" class="form-control" placeholder="Enter last name" aria-required="true">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                        </div>
                        </div>
                        </div>*@
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="submit" class="btn btn-outline-primary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}