@{
}

<div class="content" style="margin-top: 20px;">
    <div class="container-fluid" style="width:100%; height:auto; display:flex; flex-wrap: wrap;">
        @for (int i = 1; i <= 30; i++)
        {
            <button type="button" class="btn btn-info" style="margin-right: 2px; margin-bottom: 3px;">@i</button>
        }
    </div>
</div>