@using QuizExam.Core.Models.Exam
@model List<ViewExamVM>

@{
    ViewData["Title"] = "Начало";
}

<div class="container-fluid">
    <h2 class="text-center display-5">Добре дошли в QuizExam!</h2>
    <div class="content" style="margin-top: 50px;">
        <div class="container-fluid" style="width:100%; height:auto; display:flex; flex-wrap: wrap;">
            @foreach (var exam in Model)
            {
                <div class="col-lg-6" style="width:50%;">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">@exam.Title</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">@exam.SubjectName</h6>
                            <p class="card-text">@exam.Description</p>
                            <a asp-action="start" asp-controller="takeExam" asp-route-examId="@exam.Id" class="btn btn-primary">Решавай</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
